// .cartSlideIn {
//     position: fixed;
//     position: fixed;
//     top: 0;
//     right: 0;
//     overflow-x: hidden;
//     background: #fff;
//     width: 18rem;
//     padding: 1rem 0.625rem;
//     display: flex;
//     color: #e3e3e3;
//     flex-direction: column;
//     transition: all 0.1s ease-in-out;
//     z-index: 10;
//     max-height: 80vh;
//     border-radius: 0 0 0 10px;
//     box-shadow: rgba(0, 0, 0, 0.3490196078) 0px 5px 15px;

//     &Items {
//         display: flex;
//         flex-direction: column;
//         gap: 10px;

//         &Item {
//             border-radius: 10px;
//             padding: .5rem;
//             border: 1px solid #e3e3e3;
//             cursor: pointer;
//             background: #121417;

//             .cardThree {
//                 &Image {
//                     height: 10rem;
//                 }

//                 &Content {
//                     &Title {
//                         &Value {}

//                         &Amount {
//                             padding-bottom: .5rem;
//                             font-size: .8rem;
//                         }
//                     }

//                     &Price {
//                         font-weight: 700;
//                         text-align: end;
//                         padding: .5rem 0;
//                     }
//                 }
//             }
//         }
//     }
// }

// .openCart {
//     transform: translateX(0);
//     transition: all 0.1s ease-in-out;
//     min-height: 0 !important;
//     z-index: 11;

// }

// .closeCart {
//     transform: translateX(152%);
//     transition: all 0.1s ease-in-out;
// }


.cart {
    scroll-behavior: smooth;

    &Card {
        display: flex;
        gap: 1rem;
        border-bottom: 1px solid #e3e3e3;
        padding: .5rem;

        &Left {
            width: 6rem;
            height: 6rem;
            border-radius: 10px;

            &Image {
                border-radius: 10px;

            }
        }

        &Right {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            width: 75%;

            &Minimum {
                color: #a73532;
                font-size: .8rem;
                font-style: italic;
                font-weight: 600;
            }

            &Title {
                font-size: .9rem;
                font-weight: 600;
            }

            .productInfoCalculationContainer {
                &Count {
                    &Input {
                        color: #000
                    }
                }
            }
        }
    }

}

.cartDialogFooter {
    position: sticky;
    bottom: 0;
    height: 2.5rem;
    background: black;
    width: 80%;
    margin: auto;
    align-items: center;
    color: #e3e3e3;
    justify-content: center;
    display: flex;
    cursor: pointer;
    border-radius: 10px;
}

.footerItems {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    border-radius: 10px;

    &Icon {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 1rem;
        color: #e3e3e3;
        background: #a73532;
        padding: .2rem 1rem;
        border-radius: 10px;
        font-size: .9rem;
    }
}