.features {

    &Btn {
        padding: 0.5rem 1rem;
        border-radius: 20px;
        background: #121417;
        color: #e3e3e3;
        width: max-content;
        cursor: pointer;
    }

    &Container {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        &Item {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            padding: 0 .5rem;

            &Parent {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &Left {
                    font-size: 1.5rem;
                    font-weight: 400;
                }

                &Right {
                    height: 2rem;
                    padding: 0 .5rem;
                    display: flex;
                    align-items: center;
                    border-radius: 10px;
                    background: #fff;
                    cursor: pointer;
                    transition: 0.3sease-in-out;
                    box-shadow: 1px 1px 1px #ebebeb;
                }

                &Right:hover {
                    scale: 1.02;
                    transition: .3 ease-in-out;
                }
            }

            &Sub {
                display: flex;
                flex-direction: column;
                gap: .5rem;

                &Container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-left: 1rem;

                    &Right {
                        height: 2rem;
                        padding: 0 .5rem;
                        display: flex;
                        align-items: center;
                        border-radius: 10px;
                        background: #fff;
                        cursor: pointer;
                        transition: 0.3sease-in-out;
                        box-shadow: 1px 1px 1px #ebebeb;
                    }

                    &Right:hover {
                        scale: 1.02;
                        transition: .3 ease-in-out;
                    }
                }

                &Item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-left: 2rem;

                    &Left {
                        font-size: 1.2rem;
                        font-weight: 400;
                    }

                    &Right {
                        height: 2rem;
                        padding: 0 .5rem;
                        display: flex;
                        align-items: center;
                        border-radius: 10px;
                        background: #fff;
                        cursor: pointer;
                        transition: 0.3sease-in-out;
                        box-shadow: 1px 1px 1px #ebebeb;
                    }

                    &Right:hover {
                        scale: 1.02;
                        transition: .3 ease-in-out;
                    }

                }
            }
        }
    }

    &Display {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        &Item {
            display: flex;
            flex-direction: column;
            gap: .5rem;

            &Parent {
                font-size: 1.2rem;
                font-weight: 500;
            }

            &Sub {
                padding-left: .5rem;

                &Container {
                    display: flex;
                    color: #6b6868;
                    gap: 1rem;
                    padding-left: .5rem;
                }
            }
        }
    }
}

.activeFeature {
    background: #121417;
    color: #e3e3e3;

}

.inActiveFeature {}