.multipurposeCard {
  min-width: 350px;
  max-width: 100vw;
  padding: 1rem;
  border: 1px solid #121417;
  border-radius: 10px;

  &Top {
    display: flex;
    gap: 10px;
  }

  &Content {
    &Description {
      line-height: 21px;
      max-height: 126px;
      overflow: hidden;
      position: relative;
      font-size: 0.9rem;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    &Social {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: end;
      padding: 1rem 0 0 0;
    }
  }
}

.realtorCard {
  background: #121417 !important;
  border-radius: 93px 10px 10px 10px !important;
  border: none !important;
  color: #e3e3e3;
}